.venv/
__pycache__/
IMG_9611.jpg
temp_face_image.jpg
temp_webcam_image.jpg
det_EAST
rec_SRN
inference_results
1.jpg
model_landmarks
Modelos
model_data
datasets/
det_r50_vd_east_v2.0_train/
rec_r50_vd_srn_train/
output/
data.zip
face1.jpg
face2.jpg
cccd.jpg
face_cccd.jpg
uploads/